.background{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_container{
    width: 40rem;
    height: 40rem;
    border: 1px solid black;
}