header{
    width: 95%;
    min-width: 600px;
    position: absolute;
    margin: 20px;
}
.header_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header_right{
    display: flex;
    align-items: center;
}
.right_btn>a{
    color: white;
    padding-right: 10px;
    text-decoration: none;
}