.background{
    background-image: url("/img/home/homeImg.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: left top;
}

.background_content{
    width: 100%;
    height: 100%;

}
.content-center{
    width: 100%;
    height: 65%;
}
.content_bottom{
    min-width: 800px;
    width: 100%;
    height: 35%;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
}
.bottom_content{
    width: 33.33%;
    height: 100%;
    border: 1px solid black;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content>p{
    display: flex;
    justify-content: center;
}